<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
      h1 {
        color:red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <input type="button" value="Epicodus MadLib" onclick="location.href='/formOne'" />
      <input type="button" value="MadLib Two" onclick="location.href='/formTwo'" />
    </div>
  </body>
</html>