<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
      h1 {
        color:red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Please fill this out to get a custom story back!</h1>
      <form action="/responseOne" method="post">
      <label for="nameOne">Name</label>
      <input id="nameOne" name="nameOne" type="text">
      <label for="nounOne">Noun</label>
      <input id="nounOne" name="nounOne" type="text">
      <label for="verbOne">Verb</label>
      <input id="verbOne" name="verbOne" type="text">
      <label for="verbTwo">Verb</label>
      <input id="verbTwo" name="verbTwo" type="text">
      <label for="nameTwo">Name</label>
      <input id="nameTwo" name="nameTwo" type="text">
      <label for="adjectiveOne">Adjective</label>
      <input id="adjectiveOne" name="adjectiveOne" type="text">
      <label for="nameThree">Name</label>
      <input id="nameThree" name="nameThree" type="text">
      <label for="nounTwo">Noun</label>
      <input id="nounTwo" name="nounTwo" type="text">
      <label for="adjectiveTwo">Adjective</label>
      <input id="adjectiveTwo" name="adjectiveTwo" type="text">
      <button type="submit">Submit!</button>
      </form>
    </div>
  </body>
</html>
